@model Northwind.Data.Models.Customer

@{
    ViewBag.Title = "Edit Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="page-header">
        <h1>Edit Customer </h1>
    </div>

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Manage", "Index", "Manage")</li>
        <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
        <li class="active">@Model.CompanyName </li>
    </ol>

    <div class="row clearfix">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#info" data-toggle="tab">Customer Info</a></li>
                        <li><a href="#address" data-toggle="tab">Address</a></li>
                    </ul>

                    <div class="tab-content" style="padding-top: 20px;">

                        <div class="tab-pane active" id="info">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.CustomerId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerCode, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CustomerCode)
                                    @Html.ValidationMessageFor(model => model.CustomerCode)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CompanyName)
                                    @Html.ValidationMessageFor(model => model.CompanyName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ContactName)
                                    @Html.ValidationMessageFor(model => model.ContactName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactTitle, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ContactTitle)
                                    @Html.ValidationMessageFor(model => model.ContactTitle)
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="address">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address)
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.City)
                                    @Html.ValidationMessageFor(model => model.City)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Region, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Region)
                                    @Html.ValidationMessageFor(model => model.Region)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PostalCode, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PostalCode)
                                    @Html.ValidationMessageFor(model => model.PostalCode)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Country, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Country)
                                    @Html.ValidationMessageFor(model => model.Country)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                                <div class="col-sm-4 input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-phone-alt"></span>
                                    </span>
                                    @Html.EditorFor(model => model.Phone)
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.Fax)
                                    @Html.ValidationMessageFor(model => model.Fax)
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
